.pagination {
  display: flex;
  justify-content: center;
}

.pagination__delimiter {
  margin-right: 5px;
  padding-top: 8px;

  font-weight: 500;
  @include font-size(12, 18);
}

.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  font-weight: 500;
  @include font-size(12, 18);

  color: $main-light-text-color;
  background-color: $white-text-color;

  border-width: 0;
  border-radius: 5px;

  cursor: pointer;

  transition: color $transition-timing $transition-function,
   background-color $transition-timing $transition-function;

  &:hover,
  &:focus,
  &:disabled {
    color: $white-text-color;
    background-color: $main-accent-color;
  }

  &:disabled {
    cursor: auto;
  }

  body.dark-mode & {
    color: $main-dark-text-color;
    background-color: $main-dark-bg-color;

    &:hover,
    &:focus,
    &:disabled {
      color: $main-light-text-color;
      background-color: $main-accent-color;
    }
  }

  &--side {
    background-color: $secondary-light-bg-color;

    &:disabled {
      color: $backdrop-dark-bg-color;
      background-color: $secondary-light-bg-color;
    }

    body.dark-mode & {
      background-color: $secondary-dark-bg-color;

      &:disabled {
        color: $backdrop-light-bg-color;
        background-color: $secondary-dark-bg-color;
      }
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.parination__arrow {
  width: 16px;

  pointer-events: none;

  stroke: currentColor;
}
