.pagination {
  display: flex;
  justify-content: center;
}

// ...
.pagination__delimiter {
padding-top: 6px;
margin-right: 5px;
}

.pagination__button {
  background-color: $white-text-color;
  color: $main-light-text-color;
  margin-right: 5px;
  
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;

  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;

  cursor: pointer;


  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    background-color: $main-accent-color;
    color: $white-text-color;
    transition:  background-color $transition-timing $transition-function;
  }

  body.dark-mode & {
    background-color: $modal-caption-text-color;   
    color: $main-light-text-color;

    
    &:hover {
      background-color: $main-accent-color;
      color: $white-text-color;
      transition:  background-color $transition-timing $transition-function;
    }


    &:disabled {
      background-color: $main-accent-color;
      color: $white-text-color;
    }  
  }



  // disabled = isActive

  &:disabled {
    color: $white-text-color;
    background-color: $main-accent-color;    
  }

  // previous & next buttons
  &--side {
    // just disabled :)
    opacity: 1;
    border-radius: 5px;
    background-color: $secondary-light-bg-color;

    
    &:disabled { 
      opacity: 0.5;
      cursor: auto;
      transition: opacity $transition-timing $transition-function;
      background-color: $secondary-light-bg-color;  
      color: $main-light-text-color;
    }


    body.dark-mode & {
      color: $white-text-color;
      background-color: $main-dark-bg-color;  

      &:disabled { 
        opacity: 0.5;
        cursor: auto;
        transition: opacity $transition-timing $transition-function;
        background-color: $main-dark-bg-color;  
    
      }
    }
  }
}

