.header {
  position: fixed;
  z-index: 10;

  width: 100vw;
  height: $header-height;

  color: $white-text-color;
  background-color: $header-bg-color;

  background-position: top left, top right;
  background-size: 160px, 160px;
  background-repeat: no-repeat;

  body.dark-mode & {
    border-bottom: 1px solid $backdrop-dark-bg-color;
  }

  body.is-loaded & {
    transition: transform $transition-timing $transition-function;
  }

  &.is-fixed {
    transform: translateY(-150px);
  }

  background-image: url('/src/images/header/main/mobile/main-mobile-left@1x.jpg'),
    url('/src/images/header/main/mobile/main-mobile-right@1x.jpg');
  background-image: url('/src/images/header/main/mobile/main-mobile-left@1x.webp'),
    url('/src/images/header/main/mobile/main-mobile-right@1x.webp');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/header/main/mobile/main-mobile-left@2x.jpg'),
      url('/src/images/header/main/mobile/main-mobile-right@2x.jpg');
    background-image: url('/src/images/header/main/mobile/main-mobile-left@2x.webp'),
      url('/src/images/header/main/mobile/main-mobile-right@2x.webp');
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('/src/images/header/main/mobile/main-mobile-left@3x.jpg'),
      url('/src/images/header/main/mobile/main-mobile-right@3x.jpg');
    background-image: url('/src/images/header/main/mobile/main-mobile-left@3x.webp'),
      url('/src/images/header/main/mobile/main-mobile-right@3x.webp');
  }

  @media screen and (min-width: 768px) {
    background-size: 383px, 384px;

    background-image: url('/src/images/header/main/tablet/main-tablet-left@1x.jpg'),
      url('/src/images/header/main/tablet/main-tablet-right@1x.jpg');
    background-image: url('/src/images/header/main/tablet/main-tablet-left@1x.webp'),
      url('/src/images/header/main/tablet/main-tablet-right@1x.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/header/main/tablet/main-tablet-left@2x.jpg'),
        url('/src/images/header/main/tablet/main-tablet-right@2x.jpg');
      background-image: url('/src/images/header/main/tablet/main-tablet-left@2x.webp'),
        url('/src/images/header/main/tablet/main-tablet-right@2x.webp');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('/src/images/header/main/tablet/main-tablet-left@3x.jpg'),
        url('/src/images/header/main/tablet/main-tablet-right@3x.jpg');
      background-image: url('/src/images/header/main/tablet/main-tablet-left@3x.webp'),
        url('/src/images/header/main/tablet/main-tablet-right@3x.webp');
    }
  }

  @media screen and (min-width: 1280px) {
    background-size: 640px, 640px;

    background-image: url('/src/images/header/main/desktop/main-desktop-left@1x.jpg'),
      url('/src/images/header/main/desktop/main-desktop-right@1x.jpg');
    background-image: url('/src/images/header/main/desktop/main-desktop-left@1x.webp'),
      url('/src/images/header/main/desktop/main-desktop-right@1x.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/header/main/desktop/main-desktop-left@2x.jpg'),
        url('/src/images/header/main/desktop/main-desktop-right@2x.jpg');
      background-image: url('/src/images/header/main/desktop/main-desktop-left@2x.webp'),
        url('/src/images/header/main/desktop/main-desktop-right@2x.webp');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('/src/images/header/main/desktop/main-desktop-left@3x.jpg'),
        url('/src/images/header/main/desktop/main-desktop-right@3x.jpg');
      background-image: url('/src/images/header/main/desktop/main-desktop-left@3x.webp'),
        url('/src/images/header/main/desktop/main-desktop-right@3x.webp');
    }
  }
}

.header__library-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: $header-height;

  opacity: 0;
  visibility: hidden;

  body.is-loaded & {
    transition: opacity $transition-timing $transition-function,
      visibility $transition-timing $transition-function;
  }

  .header.in-library & {
    opacity: 1;
    visibility: initial;
  }

  background-color: $header-bg-color;

  background-position: top center, bottom center;
  background-size: 100%, cover;
  background-repeat: no-repeat;

  body.dark-mode & {
    border-bottom: 1px solid $backdrop-light-bg-color;
  }

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url('/src/images/header/library/mobile/library-mobile@1x.jpg');
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url('/src/images/header/library/mobile/library-mobile@1x.webp');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/library/mobile/library-mobile@2x.jpg');
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/library/mobile/library-mobile@2x.webp');
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/library/mobile/library-mobile@3x.jpg');
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/library/mobile/library-mobile@3x.webp');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/library/tablet/library-tablet@1x.jpg');
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/library/tablet/library-tablet@1x.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/library/tablet/library-tablet@2x.jpg');
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/library/tablet/library-tablet@2x.webp');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/library/tablet/library-tablet@3x.jpg');
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/library/tablet/library-tablet@3x.webp');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/library/desktop/library-desktop@1x.jpg');
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/library/desktop/library-desktop@1x.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/library/desktop/library-desktop@2x.jpg');
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/library/desktop/library-desktop@2x.webp');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/library/desktop/library-desktop@3x.jpg');
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header/library/desktop/library-desktop@3x.webp');
    }
  }
}

.header__container {
  @extend .container;

  position: relative;
  z-index: 5;

  text-align: center;
}

.header__settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__locale-button {
  display: inline-block;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 2px;
  padding-right: 20px;

  @include font-size(16, 18);

  color: $main-accent-color;
  background-color: transparent;

  border-width: 0;

  cursor: pointer;

  body.is-loaded & {
    transition: color $transition-timing $transition-function,
      opacity $transition-timing $transition-function,
      visibility $transition-timing $transition-function;
  }

  &:hover {
    color: $white-text-color;
  }
}

.header__mode-container {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;

  cursor: pointer;

  border-radius: 5px;

  outline-width: 0;
  outline-style: solid;
  outline-offset: 3px;

  &:focus-within {
    outline-width: 1px;
  }
}

.header__mode-nest {
  position: relative;

  display: inline-block;

  width: 28px;
  height: 16px;

  background-color: $white-text-color;

  border-radius: 10px;

  pointer-events: none;

  body.is-loaded & {
    transition: background-color $transition-timing $transition-function;
  }

  body.dark-mode & {
    background-color: $secondary-dark-bg-color;
  }
}

.pointer {
  position: absolute;
  top: -2px;
  left: -2px;

  display: inline-block;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-color: $main-accent-color;

  body.is-loaded & {
    transition: background-color $transition-timing $transition-function,
      transform $transition-timing $transition-function;
  }

  body.dark-mode & {
    background-color: $main-hovered-accent-color;

    transform: translateX(14px);
  }
}

.pointer__sun {
  position: absolute;
  top: 2px;
  left: 2px;

  fill: $header-bg-color;

  body.is-loaded & {
    transition: opacity $transition-timing $transition-function,
      visibility $transition-timing $transition-function;
  }

  body.dark-mode & {
    opacity: 0;
    visibility: hidden;
  }
}

.pointer__moon {
  position: absolute;
  top: 2px;
  left: 2px;

  fill: $header-bg-color;

  opacity: 0;
  visibility: hidden;

  body.is-loaded & {
    transition: opacity $transition-timing $transition-function,
      visibility $transition-timing $transition-function;
  }

  body.dark-mode & {
    opacity: 1;
    visibility: initial;
  }
}

.header__navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;

  body.is-loaded & {
    transition: transform $transition-timing $transition-function;
  }

  .header.is-fixed & {
    transform: translateY(118px);
  }
}

.header__logo-container {
  @extend %link-decor;

  display: flex;
  align-items: center;

  color: inherit;

  transition: color $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: $main-dark-text-color;
  }
}

.header__logo-icon {
  padding-bottom: 2px;

  stroke: currentColor;

  pointer-events: none;

  @media screen and (min-width: 410px) {
    margin-right: 10px;
  }
}

.header__title {
  @extend %no-margin;
  display: inline-block;

  width: 0;

  font-weight: 500;
  @include font-size(30, 35);

  opacity: 0;
  visibility: hidden;

  pointer-events: none;

  @media screen and (min-width: 410px) {
    opacity: 1;
    visibility: initial;
    width: auto;
  }
}

.header__navigation-list {
  @extend %list;
  @extend %no-margin;
  @extend %no-padding;

  display: flex;
}

.header__navigation-list-item:not(:last-child) {
  margin-right: 30px;

  @media screen and (min-width: 420px) {
    margin-right: 40px;
  }
}

.header__navigation-link {
  @extend %link-decor;

  color: inherit;

  font-weight: 500;
  @include font-size(12, 14);

  text-transform: uppercase;

  border-width: 0;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: transparent;

  body.is-loaded & {
    transition: color $transition-timing $transition-function,
      border-color $transition-timing $transition-function,
      opacity $transition-timing $transition-function,
      visibility $transition-timing $transition-function;
  }

  &:hover,
  &:focus {
    color: $main-dark-text-color;
    border-color: $main-accent-color;
  }

  &--home {
    .header:not(.in-library) & {
      border-color: $secondary-accent-color;

      &:hover,
      &:focus {
        border-color: $secondary-accent-color;
      }
    }
  }

  &--library {
    .header.in-library & {
      border-color: $secondary-accent-color;

      &:hover,
      &:focus {
        border-color: $secondary-accent-color;
      }
    }
  }
}

.header__content {
  position: relative;

  display: flex;
  justify-content: center;
}

.header__search-container {
  position: relative;

  width: 280px;

  .header.is-fixed & {
    opacity: 0;
    visibility: hidden;
  }

  @media screen and (min-width: 768px) {
    width: 336px;

    .header.is-fixed & {
      width: 250px;

      opacity: 1;
      visibility: initial;

      transform: translateY(52px);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 394px;

    .header.is-fixed & {
      width: 394px;
    }
  }

  body.is-loaded & {
    transition: opacity $transition-timing $transition-function,
      visibility $transition-timing $transition-function,
      width $transition-timing $transition-function,
      transform$transition-timing $transition-function;
  }

  .header.in-library & {
    opacity: 0;
    visibility: hidden;

    pointer-events: none;
  }
}

.header__search-input {
  display: inline-block;

  width: 100%;
  height: 20px;
  padding-bottom: 4px;
  padding-right: 18px;

  @include font-size(14, 16);

  color: $white-text-color;
  background-color: inherit;

  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: $white-text-color;

  outline: transparent;

  transition: border-color $transition-timing $transition-function;

  &::placeholder {
    color: inherit;
  }

  &:hover,
  &:focus {
    border-color: $main-accent-color;
  }
}

.header__search-icon {
  position: absolute;
  bottom: 4px;
  right: 0;

  stroke: $white-text-color;

  transition: stroke $transition-timing $transition-function;

  .header__search-input:hover + &,
  .header__search-input:focus + & {
    stroke: $main-accent-color;
  }
}

.header__library-button-container {
  @extend %list;
  @extend %no-margin;
  @extend %no-padding;

  position: absolute;

  display: flex;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  pointer-events: none;

  body.is-loaded & {
    transition: opacity $transition-timing $transition-function,
      visibility $transition-timing $transition-function;
  }

  .header.in-library & {
    opacity: 1;
    visibility: initial;

    pointer-events: initial;
  }
}

.header__library-button-item:not(:last-child) {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}

.header__library-button {
  width: 130px;
  height: 44px;

  color: $white-text-color;
  background-color: transparent;

  cursor: pointer;

  border-width: 1px;
  border-style: solid;
  border-color: $white-text-color;
  border-radius: 5px;

  font-weight: 500;
  @include font-size(12, 18);
  text-transform: uppercase;

  body.is-loaded & {
    transition: color $transition-timing $transition-function,
      opacity $transition-timing $transition-function,
      width $transition-timing $transition-function,
      height $transition-timing $transition-function,
      transform $transition-timing $transition-function,
      visibility $transition-timing $transition-function,
      background-color $transition-timing $transition-function,
      border-color $transition-timing $transition-function,
      box-shadow $transition-timing $transition-function;
  }

  .header.is-fixed & {
    opacity: 0;
    visibility: hidden;

    pointer-events: none;
  }

  &:hover,
  &:focus {
    color: $main-accent-color;
    border-color: $main-accent-color;
  }

  &--watched {
    .header:not(.in-queue) & {
      background-color: $main-accent-color;
      border-color: $main-accent-color;

      box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));

      &:hover,
      &:focus {
        color: $main-light-text-color;
      }
    }
  }

  &--queue {
    .header.in-queue & {
      background-color: $main-accent-color;
      border-color: $main-accent-color;

      box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));

      &:hover,
      &:focus {
        color: $main-light-text-color;
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: 152px;

    .header.is-fixed & {
      width: 130px;
      height: 38px;

      opacity: 1;
      visibility: initial;

      transform: translateY(42px);
    }

    .header.in-library & {
      pointer-events: initial;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 148px;
    height: 42px;

    .header.is-fixed & {
      width: 148px;
    }
  }
}

.header__library-button-text {
  pointer-events: none;

  body.is-loaded & {
    transition: opacity $transition-timing $transition-function,
      visibility $transition-timing $transition-function;
  }
}
