// html {
//   scroll-behavior: smooth;
// }

body {
  display: flex;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;

  font-family: $main-font;
  font-weight: 500;
  color: $main-light-text-color;
  background-color: $main-light-bg-color;

  overflow-x: hidden;
  overflow-y: auto;

  &.is-loaded {
    transition: color $transition-timing $transition-function,
      background-color $transition-timing $transition-function;
  }

  &.dark-mode {
    color: $main-dark-text-color;
    background-color: $main-dark-bg-color;
  }

  &.modal-is-open {
    overflow-y: hidden;
  }
}

.opacity-transition {
  transition: opacity $transition-timing $transition-function;
}

.opacity {
  opacity: 0;
}

.placeholder-opacity-transition {
  &::placeholder {
    transition: opacity $transition-timing $transition-function;
  }
}

.placeholder-opacity {
  &::placeholder {
    opacity: 0;
  }
}
