// ------------ FONTS ------------
$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

// ------------ TEXT & ACCENTS COLORS ------------
// Text Colors
$main-light-text-color: #000;
$main-dark-text-color: #f1f1f1;
$white-text-color: #fff;

// Accents Colors
$main-accent-color: #d41443;
$secondary-accen-color: #ffa5ba;

// Background Colors
$main-light-bg-color: #fff;
$main-dark-bg-color: #212121;

// Header Sizes
$header-height: 300px;

// Movie Sizes
$movie-mobile-width: 280px;
$movie-tablet-width: 290px;
$movie-desktop-width: 330px;

$movie-mobile-margin: 20px;
$movie-gap: 30px;

// ScrollToTop Sizes
$scroll-to-top-size: 50px;
$scroll-to-top-offset: 20px;

// Footer Sizes
$footer-height: 150px;

// ------------ TRANSITION PROPS ------------
$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
