.main {
  height: 100vh;
}

.main__section {
  @extend .section;

  height: 100%;
}

.main__container {
  @extend .container;
  @extend %list;

  height: 100%;

  opacity: 0;

  transition: opacity $transition-timing $transition-function;

  &.is-shown {
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
