.main__pagination {
  opacity: 0;

  transition: opacity $transition-timing $transition-function;

  &.is-shown {
    opacity: 1;
  }
}

.main__pagination-container {
  display: flex;

  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}
