.main {
  flex-grow: 1;
}

.main__section {
  @extend .section;

  height: 100%;
}

.main__container {
  @extend .container;

  height: 100%;
}

.main__list {
  @extend %list;

  height: 100%;

  opacity: 0;

  transition: opacity $transition-timing $transition-function;

  &.is-shown {
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $movie-gap;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main__error {
}

.main-pagination {
}
