.team-slider {
  overflow: hidden;
}

.team-slider__view-container {
  margin-bottom: 20px;

  @media screen and (max-height: 380px) {
    display: none;
  }

  &.is-draggable {
    cursor: move;
    cursor: grab;
  }

  &.is-dragging {
    cursor: grabbing;
  }
}

.team-slider__navigation-container {
  overflow: hidden;

  &.is-draggable {
    cursor: move;
    cursor: grab;
  }

  &.is-dragging {
    cursor: grabbing;
  }
}

.team-slider__container {
  display: flex;

  margin-left: -10px;

  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;

  &--navigation {
    margin-left: -8px;

    cursor: pointer;
  }
}

.team-slider__slide {
  min-width: 100%;
  padding-left: 10px;

  &--navigation {
    min-width: 20%;

    padding-left: 8px;
  }
}

.team-slider__image-container {
  display: flex;
  justify-content: center;

  &--navigation {
    @extend %no-padding;

    display: block;

    box-sizing: content-box;

    background-color: transparent;

    border: 0;

    overflow: hidden;

    touch-action: manipulation;
    cursor: pointer;
  }
}

.team-slider__image {
  @extend .image;

  max-height: calc(100vh - 288px);

  border-radius: 5px;
}

.team-slider__thumb-image {
  @extend .image;

  object-fit: cover;

  border-radius: 5px;

  outline-width: 2px;
  outline-style: solid;
  outline-offset: -2px;
  outline-color: $main-dark-bg-color;

  opacity: 0.5;

  transition: outline-color $transition-timing $transition-function,
    opacity $transition-timing $transition-function;

  body.dark-mode & {
    outline-color: $secondary-dark-bg-color;
  }

  .team-slider__slide--navigation.is-selected & {
    opacity: 1;

    outline-color: $main-accent-color;
  }
}
