.container {
  width: 100%;

  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;

    padding-left: 75px;
    padding-right: 75px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;

    padding-left: 70px;
    padding-right: 70px;
  }
}
