.footer {
  width: 100vw;

  background-color: $secondary-light-bg-color;

  body.dark-mode & {
    background-color: $secondary-dark-bg-color;
  }
}

.footer__container {
  @extend .container;

  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:767px){
    max-width: 304px;
  }
  @media screen and (min-width: 768px){
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
.footer__year{
  margin-right: 10px;
}
.footer__rights{
  margin-right: 10px;
}
.footer__svg{
  margin-left: 10px;
  margin-right: 10px;
}
.footer__link{
  color: currentColor;
}
.footer__button{
  color: currentColor;
  text-decoration: underline;
  cursor: pointer;
  background-color: $secondary-light-bg-color;
  border: none;
  body.dark-mode & {
      background-color: $secondary-dark-bg-color;
    }
}

// embla
