<footer class="footer">
  <div class="footer__container" data-footer>
    <p class="footer__year">© 2022 | </p>
    <p class="footer__rights" data-locale_field="rights">All Rights Reserved|</p>
    <p data-locale_field="develop"> Developed with
    </p>
    <svg class="footer__svg" width="14" height="13">
      <use href="./images/svg/sprite.svg#heart"></use>
    </svg>
    
    <p>by <button class='footer__button' data-footer_link type="button">GoIT Students</button></p>
    <div class="backdrop" data-footer_modal>
      <div class="modal">
        <div class="embla" id="main-carousel">
          <div class="embla__viewport">
            <div class="embla__container">
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/andry-300w.jpg 300w,./images/footer/andry-600w.jpg 600w,./images/footer/andry-902w.jpg 902w,./images/footer/andry-1804w.jpg 1804w,./images/footer/andry-960w.jpg 960w,./images/footer/andry-1920w.jpg 1920w"
                  sizes="(min-width:1280px) 960px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                  src="./images/footer/andry-300w.jpg" />
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/igor-300w.jpg 300w,./images/footer/igor-600w.jpg 600w,./images/footer/igor-902w.jpg 902w,./images/footer/igor-1804w.jpg 1804w,./images/footer/igor-960w.jpg 960w,./images/footer/igor-1920w.jpg 1920w"
                  sizes="(min-width:1280px) 960px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                  src="./images/footer/igor-300w.jpg"/>
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/vova-300w.jpg 300w,./images/footer/vova-600w.jpg 600w,./images/footer/vova-902w.jpg 902w,./images/footer/vova-1804w.jpg 1804w,./images/footer/vova-960w.jpg 960w,./images/footer/vova-1920w.jpg 1920w"
                  sizes="(min-width:1280px) 960px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                  src="./images/footer/vova-300w.jpg" />
                </div>
              </div>
            </div>
          </div>
      </div>
      
      <div class="embla embla--thumb" id="thumb-carousel">
        <div class="embla__viewport">
          <div class="embla__container embla__container--thumb">
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="#" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="#" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="#" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="#" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="#" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="#" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="#" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="#" />
              </button>
            </div>
            
            
          </div>
        </div>
      </div>
      
      
      </div>
    </div>

  </div>
</footer>