<footer class="footer">
  <div class="footer__container" data-footer>
    <p class="footer__year">© 2022 | </p>
    <p class="footer__rights" data-locale_field="rights">All Rights Reserved|</p>
    <p data-locale_field="develop"> Developed with
    </p>
    <svg class="footer__svg" width="14" height="13">
      <use href="./images/svg/sprite.svg#heart"></use>
    </svg>
    
    <p>by <button class='footer__button' data-footer_link type="button">GoIT Students</button></p>
    <div class="modal-backdrop" data-footer_backdrop>
      <div class="modal" data-footer_modal>
        <button class="modal__close-button" data-footer_close>
          <svg class="modal__close-button-icon" width="15" height="15">
          <use href="./images/svg/sprite.svg#close">
          </use>
        </svg>
      </button>
        <div class="embla" id="main-carousel">
          <div class="embla__viewport">
            <div class="embla__container">
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/alex-desk.jpg 525w,./images/footer/alex-desk2x.jpg 1050w"
                  sizes="(min-width:1280px) 525px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                  src="./images/footer/alex-desk.jpg"
                  alt="Alexey Melnik" />
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/igor-desk.jpg 525w,./images/footer/igor-desk2x.jpg 1050w"
                  sizes="(min-width:1280px) 525px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                  src="./images/footer/igor-desk.jpg"
                  alt="Igor Igomar"/>
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/vova-desk.jpg 525w,./images/footer/vova-desk2x.jpg 1050w"
                  sizes="(min-width:1280px) 525px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                  src="./images/footer/vova-desk.jpg" 
                  alt="Vladimir Dudka"/>
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/andry-desk.jpg 525w,./images/footer/andry-desk2x.jpg 1050w"
                    sizes="(min-width:1280px) 525px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                    src="./images/footer/andry-desk.jpg" alt="Andrey Skorohod" />
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/julia-desk.jpg 525w,./images/footer/julia-desk2x.jpg 1050w"
                    sizes="(min-width:1280px) 525px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                    src="./images/footer/julia-desk.jpg" alt="Julia Onufrieva" />
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/vitya-desk.jpg 525w,./images/footer/vitya-desk2x.jpg 1050w"
                    sizes="(min-width:1280px) 525px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                    src="./images/footer/vitya-desk.jpg" alt="Viktor Chekirko" />
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/serg-desk.jpg 525w,./images/footer/serg-desk2x.jpg 1050w"
                    sizes="(min-width:1280px) 525px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                    src="./images/footer/serg-desk.jpg" alt="Sergey Poberejnui" />
                </div>
              </div>
              <div class="embla__slide">
                <div class="embla__slide__inner">
                  <img class="embla__slide__img" srcset="./images/footer/dan-desk.jpg 525w,./images/footer/dan-desk2x.jpg 1050w"
                    sizes="(min-width:1280px) 525px, (min-width:768px) 902px, (max-width:767px) 300px, 100vw"
                    src="./images/footer/dan-desk.jpg" alt="Danylo Altukhov" />
                </div>
              </div>
            </div>
          </div>
      </div>
      
      <div class="embla embla--thumb" id="thumb-carousel">
        <div class="embla__viewport">
          <div class="embla__container embla__container--thumb">
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/alex-desk.jpg" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/igor-desk.jpg" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/vova-desk.jpg" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/andry-desk.jpg" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/julia-desk.jpg" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/vitya-desk.jpg" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/serg-desk.jpg" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/dan-desk.jpg" />
              </button>
            </div>
            <div class="embla__slide embla__slide--thumb">
              <button class="embla__slide__inner embla__slide__inner--thumb" type="button">
                <img class="embla__slide__thumbnail" src="./images/footer/alex-desk.jpg" />
              </button>
            </div>
            
          </div>
        </div>
      </div>
      
      
      </div>
    </div>

  </div>
</footer>