<header class="header">
  <div class="header__container" data-header>
    <div class="header__settings-container">
      <button class="header__locale-button" type="button" data-click="page-locale" data-locale_field="locale">
        EN
      </button>
      <input class="check" type="checkbox" name="check" id="page-mode" value="Название" data-mode_switch data-click="page-mode">
      <label for="page-mode" data-locale_field="modeSwitch"></label>
    </div>
    <div class="header__navigation-container">
      <a class="header__logo-container" href="#">
        <h1 class="header__title">Filmoteka</h1>
      </a>
      <nav class="header__navigation">
        <a class="header__navigation-link" href="#" data-locale_field="home">Home</a>
        <a class="header__navigation-link" href="#" data-locale_field="library">My library</a>
      </nav>
    </div>
    <input class="header__search-input" placeholder="Search movies" type="text" autocomplete="off" name="search"
      data-search_field data-locale_field="placeholder" />

    <div class="header__navigation-library">
      <button class="header__button-watched header__button-watched--active" type="button" data-locale_field="watched">WATCHED</button>
      <button class="header__button-queue" type="button" data-locale_field="queue" >QUEUE</button>
    </div>




  </div>





  <!-- hh -->
</header>
