<header class="header">
  <div class="header__container" data-header>
    <div class="header__settings-container">
      <button
        class="header__locale-button"
        type="button"
        data-click="page-locale"
        data-locale_field="locale"
      >
        EN
      </button>
      <input
        type="checkbox"
        name="mode"
        id="page-mode"
        data-mode_switch
        data-click="page-mode"
      />
      <label
        class="visually-hidden"
        for="page-mode"
        data-locale_field="modeSwitch"
        >Page mode switch</label
      >
    </div>
    <div class="header__navigation-container">
      <a class="header__logo-container" href="#">
        <h1 class="header__title">Filmoteka</h1>
      </a>
      <nav class="header__navigation">
        <a class="header__navigation-link" href="#" data-locale_field="home"
          >Home</a
        >
        <a class="header__navigation-link" href="#" data-locale_field="library"
          >My library</a
        >
      </nav>
    </div>
    <input
      class="header__search-input"
      placeholder="Search movies"
      type="text"
      autocomplete="off"
      name="search"
      data-search_field
      data-locale_field="placeholder"
    />
  </div>

  <!-- hh -->
</header>
