<section class="main__section" data-main>
  <h2 class="visually-hidden" data-locale_field="title">Movies library</h2>
  <div class="main__container">
    <div class="main__loader" aria-hidden="true" data-movies_loader>
      <svg width="100px" class="loader">
        <use href="./images/svg/sprite.svg#loader" />
      </svg>
    </div>
    <div class="main__error" data-movies_error>
      <svg class="error__icon" width="60" height="60">
        <use href="./images/svg/sprite.svg#sad"></use>
      </svg>
      <div class="error__text" data-movies_error_text></div>
    </div>
    <ul class="main__list" data-movies></ul>
    <div class="main__pagination pagination" data-movies_pagination></div>
  </div>
</section>
