<div class="modal-backdrop" data-modal_backdrop></div>

<div class="movie-modal" id="movie-modal" data-modal="movie">
  <button class="movie-modal__close-button" data-modal_close>
    <svg class="movie-modal__close-button-icon" width="30" height="30">
      <use href="./images/svg/sprite.svg#close" />
    </svg>
  </button>
  <div class="movie-modal__data-container" data-container></div>
</div>

<div class="trailer-modal" id="trailer-modal" data-modal="trailer">
  <button class="trailer-modal__close-button" data-modal_close>
    <svg class="trailer-modal__close-button-icon" width="30" height="30">
      <use href="./images/svg/sprite.svg#close" />
    </svg>
  </button>
  <span class="movie__loader in-trailer-modal"
    ><span></span><span></span><span></span><span></span
  ></span>
  <div class="trailer-modal__farame-container"></div>
</div>

<div class="team-modal" id="team-modal" data-modal="team">
  <button class="team-modal__close-button" data-modal_close>
    <svg class="team-modal__close-button-icon" width="30" height="30">
      <use href="./images/svg/sprite.svg#close" />
    </svg>
  </button>
  <div class="team-slider">
    <div class="team-slider__view-container" data-team_slider_view>
      <div class="team-slider__container">
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/ukrl-mob.jpg     300w,
                ./images/footer/ukrl-tabl.jpg    450w,
                ./images/footer/ukrl-desk.jpg    525w,
                ./images/footer/ukrl-mob2x.jpg   600w,
                ./images/footer/ukrl-tabl2x.jpg  900w,
                ./images/footer/ukrl-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/ukrl-mob.jpg"
              width="300"
              height="474"
              alt="Ukrainian landscape"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/alex-mob.jpg     300w,
                ./images/footer/alex-tabl.jpg    450w,
                ./images/footer/alex-desk.jpg    525w,
                ./images/footer/alex-mob2x.jpg   600w,
                ./images/footer/alex-tabl2x.jpg  900w,
                ./images/footer/alex-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/alex-mob.jpg"
              width="300"
              height="474"
              alt="Alexey Melnik"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/igor-mob.jpg     300w,
                ./images/footer/igor-tabl.jpg    450w,
                ./images/footer/igor-desk.jpg    525w,
                ./images/footer/igor-mob2x.jpg   600w,
                ./images/footer/igor-tabl2x.jpg  900w,
                ./images/footer/igor-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/igor-mob.jpg"
              width="300"
              height="474"
              alt="Igor Igomar"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/nat-mob.jpg     300w,
                ./images/footer/nat-tabl.jpg    450w,
                ./images/footer/nat-desk.jpg    525w,
                ./images/footer/nat-mob2x.jpg   600w,
                ./images/footer/nat-tabl2x.jpg  900w,
                ./images/footer/nat-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/nat-mob.jpg"
              width="300"
              height="474"
              alt="Natalia Novak"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/vova-mob.jpg     300w,
                ./images/footer/vova-tabl.jpg    450w,
                ./images/footer/vova-desk.jpg    525w,
                ./images/footer/vova-mob2x.jpg   600w,
                ./images/footer/vova-tabl2x.jpg  900w,
                ./images/footer/vova-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/vova-mob.jpg"
              width="300"
              height="474"
              alt="Vladimir Dudka"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/andry-mob.jpg     300w,
                ./images/footer/andry-tabl.jpg    450w,
                ./images/footer/andry-desk.jpg    525w,
                ./images/footer/andry-mob2x.jpg   600w,
                ./images/footer/andry-tabl2x.jpg  900w,
                ./images/footer/andry-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/andry-mob.jpg"
              width="300"
              height="474"
              alt="Andrey Skorohod"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/julia-mob.jpg     300w,
                ./images/footer/julia-tabl.jpg    450w,
                ./images/footer/julia-desk.jpg    525w,
                ./images/footer/julia-mob2x.jpg   600w,
                ./images/footer/julia-tabl2x.jpg  900w,
                ./images/footer/julia-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/julia-mob.jpg"
              width="300"
              height="474"
              alt="Julia Onufrieva"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/vitya-mob.jpg     300w,
                ./images/footer/vitya-tabl.jpg    450w,
                ./images/footer/vitya-desk.jpg    525w,
                ./images/footer/vitya-mob2x.jpg   600w,
                ./images/footer/vitya-tabl2x.jpg  900w,
                ./images/footer/vitya-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/vitya-mob.jpg"
              width="300"
              height="474"
              alt="Viktor Chekirko"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/serg-mob.jpg     300w,
                ./images/footer/serg-tabl.jpg    450w,
                ./images/footer/serg-desk.jpg    525w,
                ./images/footer/serg-mob2x.jpg   600w,
                ./images/footer/serg-tabl2x.jpg  900w,
                ./images/footer/serg-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/serg-mob.jpg"
              width="300"
              height="474"
              alt="Sergey Poberejnui"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/dan-mob.jpg     300w,
                ./images/footer/dan-tabl.jpg    450w,
                ./images/footer/dan-desk.jpg    525w,
                ./images/footer/dan-mob2x.jpg   600w,
                ./images/footer/dan-tabl2x.jpg  900w,
                ./images/footer/dan-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/dan-mob.jpg"
              width="300"
              height="474"
              alt="Danylo Altukhov"
            />
          </div>
        </div>
        <div class="team-slider__slide">
          <div class="team-slider__image-container">
            <img
              class="team-slider__image"
              srcset="
                ./images/footer/ukrf-mob.jpg     300w,
                ./images/footer/ukrf-tabl.jpg    450w,
                ./images/footer/ukrf-desk.jpg    525w,
                ./images/footer/ukrf-mob2x.jpg   600w,
                ./images/footer/ukrf-tabl2x.jpg  900w,
                ./images/footer/ukrf-desk2x.jpg 1050w
              "
              sizes="(min-width:1280px) 520px, (min-width:768px) 500px, 300px"
              src="./images/footer/ukrf-mob.jpg"
              width="300"
              height="474"
              alt="Ukrainian Flag"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="team-slider__navigation-container" data-team_slider_navigation>
      <div class="team-slider__container team-slider__container--navigation">
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/ukrl-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/alex-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/igor-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/nat-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/vova-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/andry-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/julia-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/vitya-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/serg-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/dan-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
        <div class="team-slider__slide team-slider__slide--navigation">
          <button
            class="team-slider__image-container team-slider__image-container--navigation"
            type="button"
          >
            <img
              class="team-slider__thumb-image"
              src="./images/footer/ukrf-desk.jpg"
              alt="Thumbnail photo"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
