<div class="modal-backdrop" data-modal_backdrop></div>

<div class="modal" data-modal="movie">
  <button class="modal__close-button js-modal-close">
    <svg class="modal__close-button-icon" width="30" height="30">
      <use href="./images/svg/sprite.svg#close"></use>
    </svg>
  </button>
  <div class="modal__container">
    <!-- <div class="modal__img"> ${item.backdrop_patch}</div>
    <div class="modal__text"> 
      <h2 class="modal__title"> ${item.original_title}</h2>
      <tbody class="modal__table">
        <tr>
          <td class="table_first_column">Vote/Votes</td>
          <td class="table_second_column"><p class="table_vote"><p class="modal_table_vote">${item.vote_average}</p>/${item.vote_count}</p></td>
          
        </tr>
        <tr>
          <td class="table_first_column">Popularity</td>
          <td class="table_second_column">${item.popularity}</td>
      
        </tr>
        <tr>
          <td class="table_first_column"> Original title</td>
          <td class="table_second_column">${item.original_title}</td>
         
        </tr>
        <tr>
          <td class="table_first_column">Genre</td>
          <td class="table_second_column">${item.genre_ids}</td>
          
        </tr>
      </tbody>
      <h3 class="modal_title_about">ABOUT</h3>
      <p class="modal_overview">${item.overview}</p>
      <div>
        <button type="button" class="modal_button"> WATCHED</button>
        <button type="button" class="modal_button"> QUEUE</button>
      </div>
    </div>-->
  </div>
</div>
