 //   додані класи по модалці

 .modal__container {
     display: flex;
     flex-direction: column;
     max-width: 800px;
     margin-left: auto;
     margin-right: auto;
     

 }

 @media screen and (min-width:767px) and (max-width:1279px) {
     .modal__container {
         flex-direction: row;
     }

 }

 @media screen and (min-width:1280px) {
     .modal__container {
         width: 96%;
         flex-direction: row;
     }
 }
//  Постер фільму
 .modal__img {
     width: 96%;
    margin-left: auto;
        margin-right: auto;


 }

 @media screen and (min-width:767px) and (max-width:1279px) {
     .modal__img {
         width: 50%;
         padding: 40px;
     }

 }

 @media screen and (min-width:1280px) {
    .modal__img {
        display: flex;
        align-items: flex-start;
            width: 50%;
            padding: 40px;
        }
 }

//    Блок з текстом 
 .modal__text {
     width: 96%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     flex-direction: column;


 }

 @media screen and (min-width:767px) and (max-width:1279px) {
     .modal__text {
         width: 50%;
         padding: 40px;
     }

 }

@media screen and (min-width:1280px) {
    .modal__text {
        display: flex;
        align-items: flex-start;
        width: 50%;
        padding: 40px;
    }
}
//  Назва фільму 
.modal__title {
    font-size: 20px;


}

@media screen and (min-width:767px) and (max-width:1279px) {
    .modal__title {
        font-size: 20px;
    }

}

@media screen and (min-width:1280px) {
    .modal__title {
        font-size: 30px;
    }
}
.table_vote{
    display: flex;
}
.modal_table_vote{
    background-color: #FF6B01;
    color: #FFFFFF;
    font-size: 12px;
}
.modal_title_about{
    font-size: 12px;
}
.modal_button{
    width: 136px;
    height: 44px;
    background: #FF6B01;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
}