//   контейнер модального вікна
.modal__container {
  display: flex;
  flex-direction: column;
  max-height: 940px;
  max-width: 806px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  .modal__container {
    flex-direction: row;
    max-width: 704px;
    height: 100vh;
    max-height: 552px;
  }
}

@media screen and (min-width: 1280px) {
  .modal__container {
    max-width: 806px;
    flex-direction: row;
    height: 100vh;
    max-height: 558px;
  }
}
//  Постер фільму
.modal__img {
  padding-top: 48px;
  width: calc(100% - 40px);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  .modal__img {
    margin-bottom: 0;
    width: 50%;
    padding-top: 40px;
    padding-left: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .modal__img {
    margin: 0;
    width: 50%;
    display: flex;
    align-items: flex-start;
    max-width: 375px;
    height: 478px;
    padding-left: 12px;
    padding-top: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.modal__img-item {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  .modal__img-item {
    max-width: 264px;
    height: 374px;
  }
}

@media screen and (min-width: 1280px) {
  .modal__img-item {
    width: 100%;
  }
}

//    Блок з текстом
.modal__text {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  .modal__text {
    width: 50%;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 72px;
  }
}

@media screen and (min-width: 1280px) {
  .modal__text {
    display: flex;
    align-items: flex-start;
    width: 50%;
    padding-left: 12px;
    padding-top: 40px;
  }
}
//  Назва фільму
.modal__title {
  margin: 0;
  font-size: 20px;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  .modal__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .modal__title {
    font-size: 30px;
  }
}
.modal__table {
  margin-bottom: 20px;
  width: 100%;
}

.table_first_column {
  width: 40%;
  color: #8c8c8c;
  font-size: 12px;
  padding-bottom: 9px;
}
.table_second_column {
  font-size: 12px;
  padding-bottom: 9px;
}
.table_vote {
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 0;
}
.modal_table_vote {
  text-align: center;
  padding-top: 2px;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  margin-right: 3px;
  background-color: #ff6b01;
  color: #ffffff;
  font-size: 12px;
}
.modal_title_about {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 12px;
}
.modal_button_block {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.modal_button {
  width: 110px;
  height: 44px;
  font-size: 12px;
  border-radius: 5px;

  margin-left: 15px;
}
@media screen and (min-width: 767px) and (max-width: 1279px) {
  .modal_button {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal_button {
    width: 136px;
  }
}
.modal_button-active {
  background: #ff6b01;
  color: #ffffff;
  border: none;
}
.modal_button-passive {
  border: 1px solid #000000;
  color: #000000;
  background-color: #ffffff;
}
.modal_overview {
  margin-top: 0;
  font-size: 12px;
  line-height: 1.67;
  height: auto;
  min-height: 180px;
  margin-bottom: 20px;
  overflow: scroll;
}
.movie-modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  color: $main-light-text-color;

  background-color: transparent;

  border-width: 0;
  cursor: pointer;

  transition: color $transition-timing $transition-function,
    transform $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: $main-accent-color;

    transform: scale(1.1);
  }

  body.dark-mode & {
    color: $main-dark-text-color;
  }
}

.movie-modal__close-button-icon {
  stroke: currentColor;
}

.movie-modal {
  position: fixed;
  top: 50%;
  left: calc((100% + (100vw - 100%)) / 2);
  z-index: 300;

  width: calc(100% - 40px);
  max-width: 806px;
  max-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;

  opacity: 0;
  visibility: hidden;

  overflow-y: auto;

  transform: translate(-50%, -50%);

  background-color: $main-light-bg-color;

  transition: opacity $transition-timing $transition-function,
    visibility $transition-timing $transition-function;

  &.is-shown {
    opacity: 1;
    visibility: visible;
  }

  body.dark-mode & {
    background-color: $main-dark-bg-color;
  }
}
