.trailer-modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  color: $main-light-text-color;

  background-color: transparent;

  border-width: 0;
  cursor: pointer;

  transition: color $transition-timing $transition-function,
    transform $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: $main-accent-color;

    transform: scale(1.1);
  }

  body.dark-mode & {
    color: $main-dark-text-color;
  }
}

.trailer-modal__close-button-icon {
  stroke: currentColor;
}

.trailer-modal {
  position: fixed;
  top: 50%;
  left: calc((100% + (100vw - 100%)) / 2);
  z-index: 300;

  width: calc(100% - 40px);
  max-width: 806px;
  max-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;

  opacity: 0;
  visibility: hidden;

  overflow-y: auto;

  transform: translate(-50%, -50%);

  background-color: $main-light-bg-color;

  transition: opacity $transition-timing $transition-function,
    visibility $transition-timing $transition-function;

  &.is-shown {
    opacity: 1;
    visibility: visible;
  }

  body.dark-mode & {
    background-color: $main-dark-bg-color;
  }
}
