.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  width: 100vw;
  height: 100vh;

  // background-color: $backdrop-light-bg-color;
  background-color: #00000040;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  opacity: 0;
  visibility: hidden;

  transition: opacity $transition-timing $transition-function,
    visibility $transition-timing $transition-function;

  &.is-shown {
    opacity: 1;
    visibility: visible;
  }

  body.dark-mode & {
    background-color: $backdrop-dark-bg-color;
  }
}

.trailer-modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  color: $main-light-text-color;

  background-color: transparent;

  border-width: 0;
  cursor: pointer;

  transition: color $transition-timing $transition-function,
    transform $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: $main-accent-color;

    transform: scale(1.1);
  }

  body.dark-mode & {
    color: $main-dark-text-color;
  }
}

.trailer-modal__close-button-icon {
  stroke: currentColor;
}

.trailer-modal {
  position: fixed;
  top: 50%;
  left: calc((100% + (100vw - 100%)) / 2);
  z-index: 300;

  width: calc(100% - 40px);
  max-width: 806px;
  max-height: 100vh;
  // padding-top: 40px;
  // padding-bottom: 40px;
  // padding-left: 12px;
  // padding-right: 12px;

  opacity: 0;
  visibility: hidden;

  overflow-y: auto;

  transform: translate(-50%, -50%);

  background-color: $main-light-bg-color;

  transition: opacity $transition-timing $transition-function,
    visibility $transition-timing $transition-function;

  &.is-shown {
    opacity: 1;
    visibility: visible;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 704px;
  }

  body.dark-mode & {
    background-color: $main-dark-bg-color;
  }
}

//   додані класи по модалці
