.main__loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100%;

  opacity: 0;

  visibility: hidden;

  pointer-events: none;

  transition: opacity $transition-timing $transition-function,
    visibility $transition-timing $transition-function;

  &.is-shown {
    opacity: 1;
    visibility: initial;
  }
}

.loader {
  animation: loader 4s infinite $transition-function;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(720deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
