.movie {
  @extend %no-padding;

  width: $movie-mobile-width;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: $movie-mobile-margin;
    }
  }

  @media screen and (min-width: 768px) {
    width: $movie-tablet-width;

    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    width: $movie-desktop-width;
  }
}

.movie__container {
  @extend %no-padding;

  position: relative;

  display: block;

  color: inherit;
  background-color: transparent;

  border-width: 0;

  cursor: pointer;
}

.movie__image-container {
  border-radius: 5px;

  overflow: hidden;
  pointer-events: none;

  margin-bottom: 10px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
  }
}

.movie__image {
  @extend .image;

  width: 100%;
  height: calc($movie-mobile-width * 1.5);

  object-fit: cover;

  transition: transform $transition-timing $transition-function;

  .movie__container:hover &,
  .movie__container:focus & {
    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    height: calc($movie-tablet-width * 1.5);
  }

  @media screen and (min-width: 1280px) {
    height: calc($movie-desktop-width * 1.5);
  }
}

.movie__data {
  font-weight: 500;
  @include font-size(12, 16);

  text-align: left;

  pointer-events: none;

  @media screen and (min-width: 1280px) {
    @include font-size(20, 24);
  }
}

.movie__title {
  @extend %no-margin;

  text-transform: uppercase;
}

.movie__description {
  @extend %no-margin;

  color: $main-accent-color;
}

.movie__year::before {
  content: '| ';
}

.movie__rating {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 1px 8px;

  font-weight: 500;
  line-height: 1.2;

  text-align: left;

  color: $main-dark-text-color;
  background-color: $main-accent-color;

  border-radius: 5px;

  pointer-events: none;

  transition: color $transition-timing $transition-function;

  @media screen and (min-width: 1280px) {
    @include font-size(20, 24);

    padding: 0 10px;
  }

  body.dark-mode & {
    color: $main-light-text-color;
  }
}
