.movie {
  @extend %no-padding;
}

.movie__container {
  @extend %no-padding;

  position: relative;

  display: block;

  color: inherit;
  background-color: transparent;

  border-width: 0;

  cursor: pointer;
}

.movie__image-container {
  border-radius: 5px;

  overflow: hidden;
}

.movie__image {
  @extend .image;

  width: $movie-mobile-width;
  height: calc($movie-mobile-width / 16 * 24);

  object-fit: cover;

  transition: transform $transition-timing $transition-function;

  .movie__container:hover &,
  .movie__container:focus & {
    transform: scale(1.1);
  }

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: $movie-mobile-margin;
    }
  }

  @media screen and (min-width: 768px) {
    width: $movie-tablet-width;
    height: calc($movie-tablet-width / 16 * 24);

    margin: 0;

    justify-self: center;
  }

  @media screen and (min-width: 1280px) {
    width: $movie-desktop-width;
    height: calc($movie-desktop-width / 16 * 24);
  }
}

.movie__data {
}

.movie__title {
}

.movie__description {
}

.movie__ganres {
}

.movie__year {
}

.movie__rating {
  position: absolute;
  top: 10px;
  right: 10px;
}
